## Intro to Python

Python is a high-level, most widely used multi-purpose, easy to read programming language.


*   Interpreted - Python is processed at runtime by the interpreter. i.e. you do not need to compile your program before executing it.
*   Interactive - You can interact with interpreter directly to write your programs
*   Portable - It can run on wide range of hardware Platforms
*   Object-Oriented - Python suppports Object-Oriented style and Procedural Paradigms
*   Used as a scripting language or can be compiled to byte-code for building large applications
*   It has simple structure, and a clearly defined syntax
*   Known as Beginner's Language - It's great language for beginner-level programmers
*   Source code is comparatively easy-to-maintain
*   Provides very high-level dynamic data types and supports dynamic type checking.
*   Has a huge collection of standard library

Popular applications for Python


*   Web Development
*   Data Science - including machine learning, data analysis, and data visualization
*   Scripting
*   Game Development
*   CAD Applications
*   Embedded Applications

## Python Data Types
Data Types represent the kind of value variable can hold and what all operations can be performed on a particular data.

In [1]:
# Int data type
var = 5
print(var)
print(type(var))

5
<class 'int'>

In [2]:
# Float data type
var2 = 0.1234
print(var2)
print(type(var2))

0.1234
<class 'float'>

In [3]:
# Complex numbers data type
x = 2j
print(x)
print(type(x))

2j
<class 'complex'>

In [4]:
# String Data type
str_one = "Hello World"
print(str_one)
print(type(str_one))

Hello World
<class 'str'>

In [5]:
# list data type
list1 = ["cat", "bike"]
print(list1)
print(type(list1))

['cat', 'bike']
<class 'list'>

In [6]:
# tuple data type
tup = ("cat", "bike", "bus")
print(tup)
print(type(tup))

('cat', 'bike', 'bus')
<class 'tuple'>

In [7]:
# dictionary data type
dict_one = {"Name": "Steve", "Location": "NewYork"}
print(dict_one)
print(type(dict_one))

{'Name': 'Steve', 'Location': 'NewYork'}
<class 'dict'>

In [8]:
# Set data type
set_one = set({"Hello", "world", "Hello"})
print(set_one)
print(type(set_one))

{'world', 'Hello'}
<class 'set'>

In [9]:
# Frozen set
f_one = frozenset({"Hello", "World", "Hello"})
print(f_one)
print(type(f_one))

frozenset({'World', 'Hello'})
<class 'frozenset'>

In [10]:
# Boolean data type
b = True
print(b)
print(type(b))

True
<class 'bool'>

In [11]:
# Byte data type
byte_one = b"World"
print(byte_one)
print(type(byte_one))

b'World'
<class 'bytes'>